@model Comic

<h1>Detalles de @Model.Name</h1>

<ul class="list-group">
    <li class="list-group-item"><strong>Id:</strong> @Model.Id</li>
    <li class="list-group-item"><strong>Title:</strong> @Model.Name</li>
    <li class="list-group-item"><strong>Author:</strong> @Model.Author</li>
    <li class="list-group-item"><strong>Year:</strong> @Model.Year</li>
</ul>