@model Hospital

<h1>Detalles del hospital</h1>

<ul class="list-group">
    <li class="list-group-item list-group-item-danger">Hospital Id: @Model.IdHospital</li>
    <li class="list-group-item list-group-item-info">Nombre: @Model.Nombre</li>
    <li class="list-group-item list-group-item-info">Dirección: @Model.Direccion</li>
    <li class="list-group-item list-group-item-info">Teléfono: @Model.Telefono</li>
    <li class="list-group-item list-group-item-info">Camas: @Model.Camas</li>
</ul>